<!DOCTYPE html>
<html lang='en'>
<head>
    <title>To Do Bot</title>
    <meta charset='UTF-8'>
    <meta name='description' content="Vinney's practice assignment, To Do Bot, for Twilio Quest">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link href='static/style.css' rel='stylesheet'> -->
    <link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>
    <style>
        * { font-family: 'Source Sans Pro', sans-serif; }
    </style>
    <script>
        
    </script>
</head>
<body>
    <p>Successfully created a status page.</p>
</body>
</html>